{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Liste Pokemons {% endblock %}

{% block body %}

    <section class="pokemon-list">
        {% for pokemon in pokemons %}
            <article>
                <a href="{{ path('pokemon_details',{'id':pokemon.id}) }}"><img
                            src="{{ asset('img/pokemon/'~pokemon.image ) }}" alt="image du pokemon"></a>
            </article>

        {% endfor %}
    </section>
{% endblock %}



